.App {
  padding: 20px;
}

.helper {
  border: 1px solid #ccc;
  padding: 10px;
}

.group-item {
  border: 1px solid bisque;
  margin: 10px;
  padding: 10px;
}

.group-title {
}

.server-item {
}

.para-item {
  margin: 5px 0;
}

.para-item p {
  margin: 0;
}

.warn-msg {
  color: orange;
}

.error-msg {
  color: red;
}
